.header-section {
  background: white;
  top: 0px;
  position: fixed;
  height: 68px;
  width: 100%;
  justify-content: space-between;
  z-index: 10000;
}
.header-item {
  background: none;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 31px;
  display: flex;
  justify-content: baseline;
}
.left-section {
  display: flex;
  flex-basis: 10%;
}
.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.right-section {
  flex-basis: 10%;
}
.arrow-back-icon {
  min-width: 1px !important;
  background-color: transparent;
  width: 13px;
  font-size: 22px !important;
}
.title-section {
  color: #2F9AE1;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}
.main-content {
  margin-top: 67px;
}
.reset-section {
  padding-top: 33px;
  padding-left: 25px;
  padding-right: 25px;
  .item {
    padding: 6px 0px 0px 0px;
  }
  .item-inner {
    border-bottom: 1.5px solid #F4F6F8 !important;
  }
  ion-label {
    color: #768CA1 !important;
    font-size: 13px !important;
  }
  .password-input .text-input {
    letter-spacing: 11px;
  }
  .text-input {
    color: #364A5D;
    font-weight: 700;
  }
}
.invalid-input-error {
  border-bottom: solid 2px #F93535 !important;
  .item-inner {
    border-bottom: none !important;
  }
}
.input-tip {
  padding: 0px !important;
  ion-label {
    color: #90A9C1 !important;
    font-size: 11px !important;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
  }
  min-height: 0px !important;
}
.validation-error {
  padding: 0px !important;
  ion-label {
    color: #F93535 !important;
    font-size: 11px !important;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
  }
  min-height: 0px !important;
}
.reset-form {
  ion-icon {
    margin-top: 32px !important;
    margin-bottom: 0px !important;
  }
  .item-inner {
    padding-right: 0px !important;
    ion-icon {
      margin: 0;
    }
  }
}
.error-icon {
  color: #F93535 !important;
}
.valid-icon {
  color: #02CFAD !important;
}
.normal-icon {
  color: #BFCAD1;
}
.reset-btn {
  width: 223px;
  margin-top: 27px;
  background: #19A4F6;
  height: 50px;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}
.item.item[no-lines] .item-inner {
  border: none !important;
}
.item-input.ng-invalid.item-input-has-focus,
.item-input.ng-invalid.item-input-has-focus.item-input-has-value {
  border-bottom: solid 2px #19A4F6 !important;
  .item-inner {
    border-bottom: none !important;
    box-shadow: none;
  }
}
.item-input.ng-valid.item-input-has-focus.input-has-value {
  border-bottom: solid 2px #19A4F6 !important;
  .item-inner {
    border-bottom: none !important;
    box-shadow: none;
  }
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) {
  .item-inner {
    box-shadow: none;
  }
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) {
  .item-inner {
    box-shadow: none;
  }
}