.header-section {
  background: linear-gradient(rgba(31, 158, 242, 1), rgba(41, 155, 232, 1));
  top: 0px;
  position: fixed;
  height: 68px;
  width: 100%;
  justify-content: space-between;
  z-index: 10000;
}
.header-item {
  background: none;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 31px;
  display: flex;
  justify-content: baseline;
}
.left-section {
  display: flex;
  flex-basis: 15%;
}
.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.right-section {
  flex-basis: 15%;
}
.life-insurance-header {
  padding-left: 18px !important;
  padding-top: 3px !important;
}
.life-insurance-img {
  width: 50px !important;
  height: 50px !important;
}
.arrow-back-icon {
  min-width: 1px !important;
  background-color: transparent;
  width: 13px;
}
.title-section {
  color: white;
  font-weight: 800;
  font-size: 18px;
  padding-left: 17px;
  text-transform: uppercase;
}
.top-btn-section {
  padding: 0px 28px 10px 28px;
  font-size: 14px;
  color: white;
  margin-top: 67px;
  height: 100px;
  background: linear-gradient(rgba(41, 155, 232, 1), rgba(51, 153, 222, 1));
}
.bottom-blank-section {
  background: white;
}
.household-btn {
  text-transform: none;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  background: rgba(10, 125, 201, 0.66);
}
.card-header {
  color: #90A9C1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 15px;
}
.card-header.first-header {
  padding-top: 6px;
}
.card {
  border-radius: 8px 8px 8px 8px;
  background: white;
  padding: 0px;
}
.card-area {
  position: absolute;
  margin-top: -45px;
  width: 100%;
}
.card-content {
  padding: 0;
}
.card-img {
  width: 64px !important;
  height: 64px !important;
}
.card-item {
  padding: 4px 0px 4px 0px;
  border-bottom: solid 1px rgba(232, 240, 245, 1);
}
.name-txt {
  color: #364A5D;
  font-size: 14px;
  font-weight: 700;
}
.coverage-txt {
  font-size: 14px;
  color: #91A9C0;
}
.money-txt {
  font-size: 14px;
  color: #364A5D;
}
.dollar-month-line {
  line-height: 14px;
}
.dollar {
  font-size: 18px;
  font-weight: 700;
  color: #364A5D;
}
.month {
  font-size: 10px;
  color: #5685A5;
  text-align: right;
}
.arrow-btn {
  color: #afafaf;
}
.card-avatar {
  padding-left: 16px;
}
.life-insuarnce-card-bottom-item {
  background: #FE5D05;
  display: flex;
  .input-wrapper {
    text-align: right;
    padding-right: 8px;
  }
}
.longterm-insuarnce-card-bottom-item {
  background: #F14E6D;
  display: flex;
  .input-wrapper {
    text-align: right;
    padding-right: 8px;
  }
}
.disability-insuarnce-card-bottom-item {
  background: #97C62D;
  display: flex;
  .input-wrapper {
    text-align: right;
    padding-right: 8px;
  }
}
.critical-insuarnce-card-bottom-item {
  background: #37AAD2;
  display: flex;
  .input-wrapper {
    text-align: right;
    padding-right: 8px;
  }
}
.travel-insuarnce-card-bottom-item {
  background: #9F63D3;
  display: flex;
  .input-wrapper {
    text-align: right;
    padding-right: 8px;
  }
}
.total {
  font-size: 10px;
  color: white;
  // margin-right: 11px;
}
.small-padding {
  padding-left: 17px;
}
.slash {
  font-size: 24px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.3);
}
.coverage-amount {
  color: white;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.7;
}
.payment-month-line {
  line-height: 15px;
  padding-left: 10px;
}
.flex-center-item {
  display: flex;
  align-items: center;
}
.monthly-money {
  font-size: 19px;
  color: white;
  font-weight: 800;
}
.payment-per-month-txt {
  font-size: 10px;
  color: white;
  margin-top: 6px;
}
.life-insurance-txt {
  font-size: 16px;
  font-weight: 800;
  color: #FE5D05;
}
.longterm-insurance-txt {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #F14E6D;
}
.critical-insurance-txt {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #37AAD2;
}
.travel-insurance-txt {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #9F63D3;
}
.disability-insurance-txt {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #97C62D;
}
.small-opacity {
  opacity: 0.7;
}
.household-btn.activated {
  background-color: rgba(10, 125, 201, 1);
}